/* root element for accordion. decorated with rounded borders and gradient background image */
.accordion {
    width: 90%;
    /*background:#333;
    border:1px solid #333;    
    -background:#666;*/
}

/* accordion header */
.accordion h2 {
    margin:0;
    padding:5px 15px;
    font-size:14px;
    font-weight:normal;
    cursor:pointer;
    background:url(close.png) no-repeat;
    background-size:10px;
    background-position:2px 7px;
    /*background:#ccc url('http://static.flowplayer.org/img/global/gradient/h30.png');
    border:1px solid #fff;
    color: #000;
    border-bottom:1px solid #ddd;*/
}

/* currently active header */
.accordion h2.current {
    cursor:default;
    background:url(open.png) no-repeat;
    background-size:10px;
    background-position:2px 7px;  
    /*background-color:#0f0;*/
}

/* accordion pane */
.accordion .pane {
    display:none;
    
    padding:0px 27px;
    /*color:#fff;*/
    font-size:12px;
}

/* a title inside pane */
.accordion .pane h3 {
    font-weight:normal;
    margin:0 0 -5px 0;
    font-size:16px;
    color:#999;
}

.pane p{
    margin-top: 0.5em;
    font-size:14px;
}

.pane a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}